@using CheckinQrWeb.Core.Models


<MudExpansionPanels>
    <MudExpansionPanel>
        <TitleContent>
            <div class="d-flex">
                <MudIcon Icon="@Icons.Material.Filled.Info" class="mr-3"></MudIcon>
                <MudText>Debug auditing</MudText>
            </div>
        </TitleContent>
        <ChildContent>
            @foreach (var entry in Entries)
            {
                <MudCard>
                    <MudCardContent>
                        <MudText Style="font-weight: bold">@entry.Label</MudText>
                        <code>
                            <pre>
                                      @entry.Message
                                  </pre>
                        </code>
                    </MudCardContent>
                </MudCard>
            }
        </ChildContent>
    </MudExpansionPanel>
</MudExpansionPanels>


@code {

    [Parameter]
    public List<AuditEntry> Entries { get; set; } = new();

}